html{
    background: cover;
    font-size: 40px;
 }
 
 body,html {
    margin-top: -30px;
    padding: 0;
    font-family: sans-serif;
    background-color: #364f6b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .heading {
    text-align: center;
    margin-top: 40px;
    color: #fc5185;  
    font-size: larger;
 }

.buttons {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 50px;
    justify-content: space-evenly;
    margin-bottom: 40px;
 }

 button {
    width: 100px;
    font-size: 30px;
    background-color: #43dde6;
    outline: none;
    margin-right: 20px;

 }

 .grid {
    display: inline-grid;
    background-color: #f0f0f0;
    width:600px;
    height:600px;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    margin-top: 20px;
}

.sliderAndValue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.sliderAndValue > p{
   font-size: 24px;
}

.colorAndPrompt > p {
   font-size: 20px;
   width: 132px;
}


.cell{
   border-left-color: #5d5d5a;
   border: 1px solid black;
}